[Unit]
Description=tailstat service

[Service]
Type=notify
ExecStart=/usr/local/bin/tailstat
# WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
